@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <menu>
            @if (signInManager.IsSignedIn(User))
            {
                <form asp-controller="Account" asp-action="Logout">
                    <button type="submit"><option>Logout @User.Identity.Name</option> </button>
                </form>               
            }
            else
            {
                <option>Login</option>
                <option>Register</option>
                <option>Home</option>
}

        </menu>
    </header>
    <div>
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", true);
    }
</body>
</html>
