@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

    <form method="post" asp-action="Register">
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
       <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <spanpan asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <label asp-for="ContactNumber"></label>
            <input asp-for="ContactNumber" />
            <span asp-validation-for="ContactNumber"></span>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
        <div asp-validation-summary="All"></div>
    </form>